.btn {
  border: 1px solid;
  border-radius: 5px;
  background-color: var(--background-color-base);
  cursor: pointer;
}

.green {
  border-color: var(--success-color);
}

.red {
  border-color: var(--error-color);
}

.grey {
  border-color: var(--text-color);
}

.blue {
  border-color: var(--primary-color);
}
