.article-info {
  display: flex;
  justify-content: center;
  align-items: center;
}

.article-info__content {
  width: 938px;
  min-height: 807px;
  display: flex;
  flex-direction: column;
  padding: 15px 14px 24px 16px;
  background-color: var(--background-color-base);
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}

.article-info__article-box {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 25px;
}

.article-info__body {
  font-weight: 400;
  font-size: 14px;
  line-height: 157%;
  color: var(--text-color);
}

.article-info__body > div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.article-info__body ul {
  padding-left: 20px;
}

.article-info__body h1 {
  font-size: 20px;
  line-height: 140%;
  margin: 0;
}

.article-info__body h2,
h3,
h4,
h5,
h6 {
  font-size: 18px;
  line-height: 140%;
}

.article-info__body img {
  max-width: 100%;
}
