.articles {
  display: flex;
  flex-direction: column;
  gap: 26px;
  align-items: center;
  padding-bottom: 17px;
}

.article {
  padding: 15px 14px 24px 16px;
  background-color: var(--background-color-base);
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  width: 938px;
  height: 140px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

a[rel='nofollow']:hover {
  color: white;
}

span[role='img'] > svg[data-icon='double-right'],
span[role='img'] > svg[data-icon='double-left'] {
  color: var(--primary-color);
}

button[class='ant-pagination-item-link']:hover,
button[class='ant-pagination-item-link']:hover {
  color: #fff;
}
