.article-form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.article-form__form {
  border: 1px solid var(--normal-color);
  border-radius: 6px;
  padding: 48px 32px;
  box-shadow:
    0 1px 3px 0 var(--table-header),
    0 1px 7px 0 rgba(0, 0, 0, 0.03),
    0 3px 13px 0 rgba(0, 0, 0, 0.04),
    0 5px 24px 0 rgba(0, 0, 0, 0.04),
    0 9px 44px 0 rgba(0, 0, 0, 0.05),
    0 22px 106px 0 rgba(0, 0, 0, 0.07);
  background-color: var(--background-color-base);
  width: 938px;
  display: flex;
  flex-direction: column;
  gap: 21px;
  align-items: center;
}

.article-form__title {
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 20px;
  line-height: 140%;
  color: #262626;
}

.article-form__inputs {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 21px;
}

.article-form__submit-btn {
  width: 319px;
  align-self: start;
}
